# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Environment Variables
.env

# Logs
logs/
*.log

# Build Artifacts (if you add them later)
dist/
build/

# Editor Files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS Files
.DS_Store
Thumbs.db

# Misc
*.bak
*.swp